/*-------------TELA-INICIAL------------*/
header {
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 50px;
}

#btn-start{
    background-color: rgb(13, 91, 163);
    border-style: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-weight: 500;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

#tela-inicial {
    display: flex;
    justify-content: center;
}



/*-----------MONTAGEM QUADRO------------*/

body{
    background-image: url('https://mfiles.alphacoders.com/819/819652.png');
    background-size: cover;
    
}

#board {
    width:  99vw;
    height: 50vh;
    display: flex;
    margin-left: 2px;
    background-color: tomato;
}

.columns {
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 2px solid black;
    box-sizing: border-box;
}

.columns:active{
    border: 2px solid blue;
    box-sizing: border-box;
}

.delayed {
    transition: all 0.2s;
    transition-delay: 300ms;
}
  
.delayed:active {
    transition: none;
}

.cells {
    width: 100%;
}

#dialog {
    display: flex;
    background-color: lightseagreen;
    height: 18vh;
    width: 99vw;
    border: 2px solid black;
    box-sizing: border-box;
    margin-left: 2px;
}

/*----------------PEÇAS----------------------*/

.bolaPreta{
    border-radius: 100%;
    background-color: black;
    width: 85%;
    height: 85%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bolaAzul{
    border-radius: 100%;
    background-color: blue;
    width: 85%;
    height: 85%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (min-width: 410px){

    #board {
        margin-left: 10vw;
        width:  80vw;
        height: 55vh;
    }

    #dialog{
        width: 80vw;
        margin-left: 10vw;
        height: 20vh;
    }

    

    

}


@media (min-width: 770px){

#board{
width: 50%;
display: inline-flex;
height: 48vh;
    

}


#dialog{
width: 25%;
height: 40vh;
float: right;
margin-right: 5%;
}

body{
    background-image: url('https://i.pinimg.com/originals/31/0d/4a/310d4a2f36b4fe4a07a31f5f7759a4d3.jpg');
    background-size: cover;
}


}


@media (min-width: 1000px){


    #board{
        height: 75vh;
            
        
        }
        
        
       




}

@media (min-width: 1300px){


    #board{
        height: 80vh;
            
        
        }
        
        
        



}